{% extends 'tasks_manager/base.html' %}

{% block header %}
  <div style="background: #e6e6fa; !important"  class='jumbotron'>
    <h2>Manage your tasks.</h2>
    <h3>You can let it go or plan your day.<br> Can simply memorize tasks or manage them.<br> You can forget something or be 100% sure that all things are done.<br> Task manager.<br> Control your life.</h3>
  </div>
{% endblock header %}

{% block content %}
  <h2>
    <a href="{% url 'users:register' %}">Register an account</a> to make your own To-do List.
  </h2>
  <h2>
    If you already have your to-do list, <a href="{% url 'users:login' %}">log in</a> to <a href="{% url 'tasks_manager:tasks' %}">view</a> or change it.
  </h2>

{% endblock content %}